<h1>Single Page Application</h1>

<h2> Employee CRUD operations</h2>

<table border="1" >
  <tr>
    <th>Index</th>
    <th>ID</th>
    <th>Ename</th>
    <th>Job</th>
    <th>Salary</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor='let e of employees; let i=index'>
    <td>{{i}}</td>
    <td>{{e.id}}</td>
    <td>{{e.ename}}</td>
    <td>{{e.job}}</td>
    <td>{{e.salary}}</td>
    <td><button (click)='selectRow(i)'>Select</button>
    <button (click)='deleteRow(i)'>Delete</button></td>
    
  </tr>
</table>
{{msg}}
<hr>
<!-- <div *ngIf='x'></div> -->
<h2>Selected Row Details with cloning</h2>
 <!-- we are using cloning to get the data as when objects are given values, the memorey address will ng-change
and hence the two-way binding won't be possible. -->
  ID:<input type="number" [(ngModel)]='x.id'/> <br>
  Ename: <input type=text [(ngModel)]='x.ename'/> <br>
  Job: <input type= text [(ngModel)]='x.job'/> <br>
  Salary: <input type="number"[(ngModel)]='x.salary'/> <br>

<button (click)='x={}'>Clear All Fields</button>
<button (click)='updateRow()'>Update Row</button>


<app-student></app-student>
