<div style="border: 5px solid green; width:750px">
  <h2>Person List Component</h2>
  
  <app-people-count
    [allCount]='getAllCount()' 
    [maleCount]='getMaleCount()' 
    [femaleCount]='getFemaleCount()'
    (childEvent1)='getCount($event)'
  ></app-people-count>
  <hr color="green"/>

  <h1>List of Persons</h1>

  <table border="1">
    <tr>
      <th>Index</th>
      <th>ID</th>
      <th>Pname</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
    <ng-container *ngFor='let p of people;let i=index'>
      <tr *ngIf='gender==p.gender || gender=="All"'>
        <td>{{i}}</td>
        <td>{{p.id}}</td>
        <td>{{p.pname}}</td>
        <td>{{p.gender}}</td>
        <td>{{p.age}}</td>
    </tr>
  </ng-container>
  </table>
</div>

{{gender}}