<div style="border: 5px solid green; width:750px">
  <h2>Person List Component</h2>
  
  <app-people-count
    [allCount]='getAllCount()' [maleCount]='getMaleCount()' [femaleCount]='getFemaleCount()'
  ></app-people-count>
  <hr color="green"/>

  <h1>List of Persons</h1>

  <table border="1">
    <tr>
      <th>Index</th>
      <th>ID</th>
      <th>Pname</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
    <tr *ngFor='let p of people;let i=index'>
      <td>{{i}}</td>
      <td>{{p.id}}</td>
      <td>{{p.pname}}</td>
      <td>{{p.gender}}</td>
      <td>{{p.age}}</td>
    </tr>

  </table>
</div>