<h1>Single Page Application</h1>

<h2> Employee CRUD operations</h2>

<table border="1" >
  <tr>
    <th>Index</th>
    <th>ID</th>
    <th>Ename</th>
    <th>Job</th>
    <th>Salary</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor='let e of employees; let i=index'>
    <td>{{i}}</td>
    <td>{{e.id}}</td>
    <td>{{e.ename}}</td>
    <td>{{e.job}}</td>
    <td>{{e.salary}}</td>
    <td><button (click)='selectRow(i)'>Select</button>
    <button (click)='deleteRow(i)'>Delete</button></td>
    
  </tr>
</table>
{{msg}}
<hr>
<!-- <div *ngIf='x'></div> -->
<h2>Selected Row Details with cloning</h2>
 <!-- we are using cloning to get the data as when objects are given values, the memorey address will ng-change
and hence the two-way binding won't be possible. -->
  ID:<input type="number" [(ngModel)]='x.id'/> <br>
  Ename: <input type=text [(ngModel)]='x.ename'/> <br>
  Job: <input type= text [(ngModel)]='x.job'/> <br>
  Salary: <input type="number"[(ngModel)]='x.salary'/> <br>

<button (click)='x={}'>Clear All Fields</button>
<button (click)='updateRow()'>Update Row</button>

<app-employee></app-employee>
<app-student></app-student>











<!-- <h2>Employee record Navigation</h2>


<table border = "1">
  <tr>
    <th>ID</th>
    <td>{{x.id}}</td>
    <td><button (click)='firstRow()'>First</button></td>
  </tr>
  <tr>
    <th>Ename</th>
    <td>{{x.ename}}</td>
    <td><button (click)='nextRow()'>Next</button></td>
  </tr>
  <tr>
    <th>Job</th>
    <td>{{x.job}}</td>
    <td><button (click)='prevRow()'>Previous</button></td>
  </tr>
  <tr>
    <th>Salary</th>
    <td>{{x.salary}}</td>
    <td><button (click)='lastRow()'>Last</button></td>
  </tr>
</table>
{{msg}}
 -->










<!-- <table border="1" >
  <tr>
    <th>Index</th>
    <th>ID</th>
    <th>Ename</th>
    <th>Job</th>
    <th>Salary</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor='let e of employees; let i=index'>
    <td>{{i}}</td>
    <td>{{e.id}}</td>
    <td>{{e.ename}}</td>
    <td>{{e.job}}</td>
    <td>{{e.salary}}</td>
    <td><button (click)='selectRow(i)'>Select</button></td>
  </tr>
</table>
<hr>
<div *ngIf='x'>
<h2>Selected Row Details</h2>
  ID:{{x.id}} <br>
  Ename: {{x.ename}}
  Job: {{x.job}}
  Salary: {{x.salary}}
</div>
<button (click)='x=null'>Clear All Fields</button> -->















<!-- <h2> Structural Directives </h2>

<select>
  <option *ngFor='let o of operations' value={{o}} ng-change='msg=o'>
      {{o}}
  </option>
</select>
<hr>

{{msg}} -->










<!-- <button (click)='getItems("fruits")'>Fruits </button>
<button (click)='getItems("vegetables")'>Vegetables </button><br>
<h2>{{title}}</h2>

<ol>
  <li *ngFor='let i of items'>
    {{i}}
  </li>
</ol>
{{msg}} -->










<!-- <h2>Event Binding</h2>

<table style="width:100%">
    <tr>
      <td> Enter name:</td>
      <td> <input type=text [(ngModel)]='name'/> </td>
    </tr> 
    <tr>
      <td><input type=radio name="gender" value = "Mr" [(ngModel)] = 'gender'/> Male</td>
      <td><input type=radio name="gender" value = "Miss" [(ngModel)] = 'gender'/> Female </td>
    </tr>
    <tr>
    <td><button (click) ='findGender()'>Submit</button></td>
    <td>{{msg}}</td>
    </tr>
</table> -->

<!-- The content below is only a placeholder and can be replaced. 
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->